masterSolution/PolyWars.Server.WebService.ConsoleClient/Connected Services/ServiceReferenceWCF/WebClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5701/WebClientService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5701/WebClientService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5701/WebClientService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PolyWars.Server.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebClientService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IWebClientService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IWebClientService_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IWebClientService_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IWebClientService_GetLeaderBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderBoard" />
  </wsdl:message>
  <wsdl:message name="IWebClientService_GetLeaderBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderBoardResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebClientService">
    <wsdl:operation name="login">
      <wsdl:input wsam:Action="http://tempuri.org/IWebClientService/login" message="tns:IWebClientService_login_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebClientService/loginResponse" message="tns:IWebClientService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsam:Action="http://tempuri.org/IWebClientService/register" message="tns:IWebClientService_register_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebClientService/registerResponse" message="tns:IWebClientService_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaderBoard">
      <wsdl:input wsam:Action="http://tempuri.org/IWebClientService/GetLeaderBoard" message="tns:IWebClientService_GetLeaderBoard_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebClientService/GetLeaderBoardResponse" message="tns:IWebClientService_GetLeaderBoard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebClientService" type="tns:IWebClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IWebClientService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IWebClientService/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaderBoard">
      <soap:operation soapAction="http://tempuri.org/IWebClientService/GetLeaderBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebClientService">
    <wsdl:port name="BasicHttpBinding_IWebClientService" binding="tns:BasicHttpBinding_IWebClientService">
      <soap:address location="http://localhost:5701/WebClientService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>